
            <div class="card mb-3">
                    <div _ngcontent-c11="" class="card-header">Striped Rows - POSITIONS</div>
                    <div _ngcontent-c11="" class="card-body table-responsive">
                        <table _ngcontent-c11="" class="table table-hover table-striped">
                            <thead _ngcontent-c11="" class="ng-tns-c11-4">
                            <tr _ngcontent-c11="" class="ng-tns-c11-4">
                                <th _ngcontent-c11="" class="ng-tns-c11-4">Page</th>
                                <th _ngcontent-c11="" class="ng-tns-c11-4">Visits</th>
                                <th _ngcontent-c11="" class="ng-tns-c11-4">% New Visits</th>
                                <th _ngcontent-c11="" class="ng-tns-c11-4">Revenue</th>
                            </tr>
                            </thead>
                            <tbody _ngcontent-c11="" class="ng-tns-c11-4">
                            <tr _ngcontent-c11="" class="ng-tns-c11-4">
                                <td _ngcontent-c11="" class="ng-tns-c11-4">/index.html</td>
                                <td _ngcontent-c11="" class="ng-tns-c11-4">1265</td>
                                <td _ngcontent-c11="" class="ng-tns-c11-4">32.3%</td>
                                <td _ngcontent-c11="" class="ng-tns-c11-4">$321.33</td>
                            </tr>
                            <tr _ngcontent-c11="" class="ng-tns-c11-4">
                                <td _ngcontent-c11="" class="ng-tns-c11-4">/about.html</td>
                                <td _ngcontent-c11="" class="ng-tns-c11-4">261</td>
                                <td _ngcontent-c11="" class="ng-tns-c11-4">33.3%</td>
                                <td _ngcontent-c11="" class="ng-tns-c11-4">$234.12</td>
                            </tr>
                            <tr _ngcontent-c11="" class="ng-tns-c11-4">
                                <td _ngcontent-c11="" class="ng-tns-c11-4">/sales.html</td>
                                <td _ngcontent-c11="" class="ng-tns-c11-4">665</td>
                                <td _ngcontent-c11="" class="ng-tns-c11-4">21.3%</td>
                                <td _ngcontent-c11="" class="ng-tns-c11-4">$16.34</td>
                            </tr>
                            <tr _ngcontent-c11="" class="ng-tns-c11-4">
                                <td _ngcontent-c11="" class="ng-tns-c11-4">/blog.html</td>
                                <td _ngcontent-c11="" class="ng-tns-c11-4">9516</td>
                                <td _ngcontent-c11="" class="ng-tns-c11-4">89.3%</td>
                                <td _ngcontent-c11="" class="ng-tns-c11-4">$1644.43</td>
                            </tr>
                            <tr _ngcontent-c11="" class="ng-tns-c11-4">
                                <td _ngcontent-c11="" class="ng-tns-c11-4">/404.html</td>
                                <td _ngcontent-c11="" class="ng-tns-c11-4">23</td>
                                <td _ngcontent-c11="" class="ng-tns-c11-4">34.3%</td>
                                <td _ngcontent-c11="" class="ng-tns-c11-4">$23.52</td>
                            </tr>
                            <tr _ngcontent-c11="" class="ng-tns-c11-4">
                                <td _ngcontent-c11="" class="ng-tns-c11-4">/services.html</td>
                                <td _ngcontent-c11="" class="ng-tns-c11-4">421</td>
                                <td _ngcontent-c11="" class="ng-tns-c11-4">60.3%</td>
                                <td _ngcontent-c11="" class="ng-tns-c11-4">$724.32</td>
                            </tr>
                            <tr _ngcontent-c11="" class="ng-tns-c11-4">
                                <td _ngcontent-c11="" class="ng-tns-c11-4">/blog/post.html</td>
                                <td _ngcontent-c11="" class="ng-tns-c11-4">1233</td>
                                <td _ngcontent-c11="" class="ng-tns-c11-4">93.2%</td>
                                <td _ngcontent-c11="" class="ng-tns-c11-4">$126.34</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
