<div [@routerTransition]>
    <app-page-header [heading]="'Users'" [icon]="'fa-users'"></app-page-header>
    <div class="row">
        <div class="col-sm-12" >
            <button (click)="showMembers()"  class="btn btn-primary btn-m active" role="button" aria-pressed="true">Members</button>
            <button (click)="showPartners()" class="btn btn-primary btn-m active" role="button" aria-pressed="true">Partners</button>
            <button (click)="showPositions()" class="btn btn-primary btn-m active" role="button" aria-pressed="true">Positions</button>
        </div>

        <div class="col-sm-12" style="padding: 15px 0 0 0" >
            <router-outlet></router-outlet>

        </div>


    </div>
</div>
