  <div [@routerTransition]>
      <app-page-header [heading]="'Dictionaries'" [icon]="'fa-books'"></app-page-header>
      <div class="row">
          <div class="col-sm-12" >
              <button (click)="showDicEn()"  class="btn btn-primary btn-m active" role="button" aria-pressed="true">English</button>
              <button (click)="showEnPt()" class="btn btn-primary btn-m active" role="button" aria-pressed="true">En-Pt</button>
              <button (click)="showEnFr()" class="btn btn-primary btn-m active" role="button" aria-pressed="true">En-Fr</button>
          </div>

          <div class="col-sm-12" style="padding: 15px 0 0 0" >
              <router-outlet></router-outlet>

          </div>


      </div>
  </div>
